.card-item {
  width: 200px;
}
.card-image {
  width: 100%;
  height: auto;
}
input[type='number'] {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #5c6976;
  width: 2 rem;
  border: none;
  text-align: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppins;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.spinner > .sub,
.spinner > .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

.spinner > .sub:hover,
.spinner > .add:hover {
  background: gray;
  color: black;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
