#card-grid {
  display: flex;
  flex-direction: row;
  flex-basis: content;
  gap: 1.25rem 0.75rem;
}

/* clear fix */
.card-grid:after {
  content: '';
  display: block;
  clear: both;
}

.card-item {
  float: left;
  width: 200px;
}
.card-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;

}

.card-number {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  background-color: #5c6976;
  border-top-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  color: #fffc;
  column-gap: 0.5em;
  display: flex;
  font-weight: 600;
  max-width: 85%;
  padding: 0.25rem 0.625rem;
}
.card-info {
  display: block;
}
.card-rarity{
  display:flex;
  width: 2rem;
    align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  text-align: center;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  }
input[type='number'] {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #5c6976;
  border: none;
  text-align: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppins;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.spinner > .sub,
.spinner > .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

.spinner > .sub:hover,
.spinner > .add:hover {
  background: gray;
  color: black;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
