body {
  background-color: rgb(38, 38, 38);
  color: #fffc;
  fotn-family: Titillium Web,sans-serif;
}
.light-mode {
  background-color: white;
  color: black;
}

.button.themetogglesimple {
  font-size:1rem;
  width:30px;
  height:30px;
  background-color: rgb(38, 38, 38);
  color:#fffc;
  border-radius: 50%;
}
.button.themetogglesimple:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 1s;
}
.light-mode .button.themetogglesimple  {
  font-size:1rem;
  width:30px;
  height:30px;
  background-color: white;
  color: black;
  border-radius: 50%;
}
.light-mode .button.themetogglesimple:hover {
  background-color: rgba(38, 38, 38, 0.2);
  transition-duration: 1s;
}

h1 {
  text-align: center;
}

/* button styling*/
.filters-button-group {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  padding-bottom: 5rem;
}
.button {
  color: #5c6976;
  font-color: #fffc;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  margin: .25rem;
} 

.button:active,
.button.is-checked {
  background-color: teal;
}
/* card display styling */
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem 0.75rem;
  justify-content: center;
}


.card-item {
  float: left;
  width: 200px;
}
.card-image {
  width: 200px;
  height: auto;
  display: block;
  position: relative;

}

.card-number {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  background-color: #5c6976;
  border-top-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  color: #fffc;
  column-gap: 0.5em;
  display: flex;
  font-weight: 600;
  max-width: 85%;
  padding: 0.25rem 0.625rem;
}
.card-info {
  display: block;
}
.card-rarity{
  display:flex;
  width: 2rem;
    align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  text-align: center;
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  }
/* number counter styling */
input[type='number'] {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #fffc;
  background-color: rgb(40, 40, 40);
  border: none;
  text-align: center;
}
.light-mode input[type='number'] {
  color: #5c6976;
  background-color: white;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppins;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.spinner > .sub,
.spinner > .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

.spinner > .sub:hover,
.spinner > .add:hover {
  background: gray;
  color: black;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
