#001aVT .card-image:hover {
	transform: rotate(90deg);
	background-image: url(https://storage.googleapis.com/prd-buildivide-static-7c153c/uploads/card/5300ef422e613b74fbf759d293aaab6a/image_path.png)
	}

#001bVT .card-image:hover {
	transform: rotate(90deg);
	background-image: url(https://storage.googleapis.com/prd-buildivide-static-7c153c/uploads/card/7cfd5df443b4eb0d69886a583b33de4c/image_path.png)
	}
#001cVT .card-image:hover {
	transform: rotate(90deg);
	background-image: url(https://storage.googleapis.com/prd-buildivide-static-7c153c/uploads/card/0a54b19a13b6712dc04d1b49215423d8/image_path.png)
	}

#001dVT .card-image:hover {
	transform: rotate(90deg);
	background-image: url(https://storage.googleapis.com/prd-buildivide-static-7c153c/uploads/card/a3bf6e4db673b6449c2f7d13ee6ec9c0/image_path.png)
	}
#001eVT .card-image:hover {
	transform: rotate(90deg);
	background-image: url(https://storage.googleapis.com/prd-buildivide-static-7c153c/uploads/card/fc95fa5740ba01a870cfa52f671fe1e4/territory_image_path.png)
	}

#002aVT .card-image:hover {
	transform: rotate(90deg);
	background-image: url(https://storage.googleapis.com/prd-buildivide-static-7c153c/uploads/card/7cfd5df443b4eb0d69886a583b33de4c/image_path.png)
	}
